<div class="topMenu">
  <ul>
    <a class="links"
     href="https://www.google.com/intl/pt-BR/gmail/about/">
     Gmail
    </a>
  <a class="links"
  href="https://www.google.com.br/imghp?hl=pt-BR&ogbl">
  Imagens
</a>
    <a class="fazerLogin"
    href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fwww.google.com.br%2F&ec=GAZAmgQ&hl=pt-BR&ifkv=AYZoVhe7jTBKynWaICazJLTkmHmoXG3L0pUOKTUMc7c5RVVrDo_kq4mQbdXIrB7GuCOcqEkGMzqdqg&passive=true&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S553674424%3A1695189426759226&theme=glif">
    Fazer login
  </a>
  </ul>

</div>
